select.form-control:not([size]):not([multiple]){
    height: calc(3.25rem + 2px);
  }
  
  .table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #e5ebef;
  }
  
  .img-thumbnail, body {
    background-color: #e5ebef;
  }
  
  .pointer { cursor: pointer; }
  
  a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover
  {
    background-color: #e5ebef;
  }

  .navbar-default{
    background-color  :#ccc;
  }

  .btn-save-file
  {
    margin-top: 8px;
    margin-bottom: 19px;
  }

.marg{
  margin-top: 46px;
}
.form-inline .input-group>.form-control {
  width: 83%;
}
.alert-fix{
  position: fixed;
  width: 426px;
  right: 28px;
  top: 64%;
  z-index: 99;
  font-size: large;
}
  .add-comment-btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top : 10px;
  }
  .people_dropdown{
    top: -7px !important;
    left: -58px !important;
    height: 108px;
    overflow: auto;
    box-shadow: 2px 2px 6px #696ffb;
  }

  
  .people_dropdown .dropdown-item{
    padding: 1px 17px;
  }

  .people_dropdown .dropdown-item:hover{
    color:blue;
    background-color: #ccc;
  }

  .form-control
  {
  padding-left: 10px;
  }

  #delta{
    background-color: black;
    margin-left: 19%;
    background-color: black;
    position: absolute;
    width: 5px;
    height: 37px;
  }

  .btn.btn-outline-secondary{
    height: 33px;
  }
  /* Start css for logwork form ------------------------------------------------ */
  /* #logwork_form{
    width: auto;
    height: auto;
    display: none; */
    /* background-color: #c1c1c1; */
  /* } */
  /* End css for log work form ------------------------------------------------*/